<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Upgraded.to</title>
        <!-- Le styles -->
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}css/application.css" rel="stylesheet" type="text/css">
        
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="{{ STATIC_URL }}assets/ico/logo.jpg">
        <link rel="apple-touch-icon" href="{{ STATIC_URL }}assets/ico/logo.jpg">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}assets/ico/logo.jpg">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}assets/ico/logo.jpg">
        {% block head %}
        {% endblock %}
    </head>
    <body data-spy="scroll" data-target=".subnav" data-offset="50">
		{% include "navbar.html" %}
        {% block extra-content %} {% endblock %}
        <div class="container-fluid">
            <div class="row-fluid">
                {% block content %} {% endblock %}
            </div>
        </div>
        {% block footer %}
            {% include "footer.html" %}
        {% endblock %}
        
        <!-- Scripts aqui -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <scrypt type="text/javascript" src="{{ STATIC_URL }}/js/bootstrap.min.js"></script>
    </body>
</html>