body 
{
    padding-top: 4em;
    /*padding-bottom: 40px;*/
} 

.sidebar-nav 
{
    padding: 9px 0;
}

.hero-unit h1 {
    font-size: 38px;
    margin-top: 0.2em;
    line-height: 1.1;
    font-weight: normal;
}

.select-domain-form {
    text-align:center;
}

.footer {
    padding: 70px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
    background-color: whiteSmoke;
}
