{% extends "base.html" %}

{% block content %}
<div class="span10 offset1">
    <div class="row-fluid">
        <p>
            <a href="{% url email-add domain_id %}" class="btn btn-primary">New</a>
        </p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Quota</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for mailbox in mailboxes %}
                    <tr>
                        <td>{{ mailbox.username }}</td>
                        <td>{{ mailbox.name }}</td>
                        <td>{{ mailbox.quota }}</td>
                        <td>
                            {% if mailbox.active %}
                                <span class="label label-success">Active</span>
                            {% else %}
                                <span class="label label-important">Inactive</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url email-edit domain_id mailbox.id %}" class="btn btn-mini">Edit</a>
                            <a href="{% url email-enable domain_id mailbox.id %}" class="btn btn-mini btn-info">Enable</a>
                            <a href="{% url email-disable domain_id mailbox.id %}" class="btn btn-mini btn-danger">Disable</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}