{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="row-fluid">
        <aside class="span2">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Hosting</li>
                    <li><a href="#"><i class="icon-envelope"></i> Emails</a></li>
                    <li><a href="#"><i class="icon-hdd"></i> Databases</a></li>
                </ul>
            </div>
        </aside>
        <section class="span10">
            
        </section>
    </div>
{% endblock %}