Django==1.4
Fabric==1.4.2
South==0.7.5
boto==2.5.2
distribute==0.6.19
-e hg+https://bitbucket.org/darkness51/django-storages@00a385971212c1a6be6b17458a6520f9e48dd953#egg=django_storages-dev
passlib==1.6
pycrypto==2.5
python-dateutil==2.1
six==1.1.0
ssh==1.7.14
wsgiref==0.1.2
