Django==2.2.24
Fabric==1.4.2
amqplib==1.0.2
anyjson==0.3.3
billiard==2.7.3.10
boto==2.29.1
celery==3.0.1
coverage==3.7.1
django-celery==3.0.1
django-debug-toolbar==1.2.1
django-devserver==0.8.0
django-mockups==0.4.8
django-storages==1.1.8
gunicorn==0.14.5
kombu==2.2.6
mock==1.0.1
mockito==0.5.2
nodeenv==0.9.4
passlib==1.6
psycopg2==2.6.1
pycrypto==2.5
python-dateutil==1.5
seacucumber==1.5.1
selenium==2.42.1
six==1.1.0
sqlparse==0.1.11
ssh==1.7.14
uWSGI==2.0.11.2
wsgiref==0.1.2
