{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="row-fluid row-first">
        <aside class="span2">
            {% include "hosting/navbar.html" %}
        </aside>
        <section class="span10">
            <h2>Hostin Management</h2>
            <p>Here you can realize the following options</p>
            <ul>
                <li>Create Database</li>
                <li>Delete Database</li>
                <li>Create Database User</li>
                <li>Change Database User Password</li>
                <li>Delete Database User</li>
                <li>Create Email Account</li>
                <li>Change Password to Email Account</li>
                <li>Delete an Email Account</li>
            </ul>
        </section>
    </div>
{% endblock %}